.center {
    text-align: center
}

table th {
    border: 1px solid black;
    padding: 5px;
}

table td {
    border: 1px dashed black;
    padding: 5px;
}

.padding {
    padding-left: 30%;
    padding-right: 30%;
}

.colorButton {
    background: #73A353;
}

button {
    color: black; /* Белый цвет текста */
    border: none; /* Убираем рамку */
    padding: 0.5rem 1rem; /* Поля вокруг текста */
}

.container-buttons {
    display: flex;
    justify-content: center;
}